mixin input(objOptions)
    - objOptions.placeholder = objOptions.label;
    - objOptions.alt         = objOptions.label;

    if (!objOptions.isLabelHidden)
        label(for="#{objOptions.id}") #{objOptions.label}:
    if (objOptions['data-ng-model'])
        input.form-control&attributes(objOptions)
        //- input.form-control

//- ****************************************************************************

mixin inputText(objOptions)
    - objOptions.type = 'text';
    +input(objOptions)

//- ****************************************************************************

mixin inputEmail(objOptions)
    - objOptions.type = 'email';
    +input(objOptions)

//- ****************************************************************************

mixin inputPassword(objOptions)
    - objOptions.type = 'password';
    +input(objOptions)

//- ****************************************************************************

mixin inputDate(objOptions)
    - objOptions.type = 'date';
    +input(objOptions)

//- ****************************************************************************

mixin inputTextRequired(objOptions)
    - objOptions.type       = 'text';
    - objOptions.isRequired = true;
    +input(objOptions)

//- ****************************************************************************

mixin inputRadio(objOptions)
    - objOptions.type = 'radio';
    - objOptions.alt  = objOptions.label;
    label.radio-inline
        input&attributes(objOptions)
        |#{objOptions.label}

//- ****************************************************************************

mixin inputPasswordSwitcher(objOptions, isVisible)
    - objOptions.alt = objOptions.label;
    if (!objOptions.isLabelHidden)
        label(for="#{objOptions.id}") #{objOptions.label}:
    if (objOptions['data-ng-model'])
        .input-group(data-ng-if="!#{isVisible}")
            input.form-control(type="password")&attributes(objOptions)
            .input-group-addon.filled
                a.addon-filler(data-ng-click="#{isVisible} = !#{isVisible}")
                    i.fa.fa-eye-slash
        .input-group(data-ng-if="#{isVisible}")
            input.form-control(type="text")&attributes(objOptions)
            .input-group-addon.filled
                a.addon-filler(data-ng-click="#{isVisible} = !#{isVisible}")
                    i.fa.fa-eye

//- ****************************************************************************

mixin accountProfileButtonEdit(strNgClick)
    a.btn.btn-link&attributes({
        "alt"          : "Edit",
        "data-ng-click": "vm.states.activeField = '" + strNgClick + "'",
    })
        i.fa.fa-pencil
        |&nbsp;Edit

//- ****************************************************************************
