.wrapper
    form(name="vm.formSignIn", data-ng-submit="vm.signIn()")

        //- fieldset.form-group
        //-     input.form-control(
        //-             type="password",
        //-             name="signIn1",
        //-             alt="No description available",
        //-             data-ng-required="true",
        //-             data-ng-minlength="3",
        //-             data-ng-model="vm.modelSignIn.field1")

        fieldset.form-group
                    //- TODO: remove
                    //- type="password",
            input.form-control(
                    type="text",
                    name="signIn2",
                    alt="No description available",
                    data-ng-required="true",
                    data-ng-minlength="3",
                    data-ng-model="vm.modelSignIn.field2")

        fieldset.form-group
                    //- TODO: remove
                    //- type="password",
            input.form-control(
                    type="text",
                    name="signIn3",
                    alt="No description available",
                    data-ng-required="true",
                    data-ng-minlength="3",
                    data-ng-model="vm.modelSignIn.field3")

        fieldset.right
                    //- TODO: put back into button
                    //- data-ng-disabled="vm.formSignIn.$invalid")
            button.btn.btn-primary(
                    alt="No description available")
                i.fa.fa-sign-in
