include _mixins.include.jade

.wrapper
    a.btn.btn-link.no-hpadding(
            href="javascript:history.back()",
            alt="Back")
        |Back
    |&nbsp;&nbsp;|&nbsp;&nbsp;
    a.btn.btn-link.no-hpadding(
            data-ui-sref="home",
            alt="Back to Homepage")
        |Back to Homepage

.wrapper(data-ng-if="false === vm.states.emailSend")
    form(name="vm.formForgotUsername",
            data-ng-submit="vm.forgotUsername()")

        .vmargin-2rem
        fieldset
            legend: h1 Forgot Username?
            
            .form-group.no-margin-bottom(
                    data-ng-class="{ 'has-error': false }")
                label(for="forgot-username-email") Email:
                input#forgot-username-email.form-control(
                        type="text",
                        name="forgotUsernameEmail",
                        placeholder="Email",
                        data-ng-required="true",
                        data-ng-model="vm.modelForgotUsername.email")
            
        .vmargin-2rem  
        fieldset
            button.btn.btn-primary(
                    alt="Send Email",
                    data-ng-disabled="vm.formForgotUsername.$invalid")
                |Send Email

.wrapper(data-ng-if="true === vm.states.emailSend")
    h1 Email send successfully
    .text-success
        i.fa.fa-check
        span &nbsp;If this email exists in our database, a link was successfully send to it.
