include _mixins.include.jade

.wrapper
    a.btn.btn-link.no-hpadding(
            href="javascript:history.back()",
            alt="{{ 'common.Back' | translate }}")
        |{{ 'common.Back' | translate }}
    |&nbsp;&nbsp;|&nbsp;&nbsp;
    a.btn.btn-link.no-hpadding(
            data-ui-sref="home",
            alt="{{ 'common.BackToHomepage' | translate }}")
        |{{ 'common.BackToHomepage' | translate }}

.wrapper(data-ng-if="false === vm.states.emailSend")
    h1.border-bottom {{ 'auth.ForgotUsername' | translate }}?
    form(name="vm.formForgotUsername", data-ng-submit="vm.forgotUsername()")

        fieldset
            .form-group.no-margin-bottom(
                    data-ng-class="{ 'has-error': false }")
                label(for="forgot-username-email") {{ 'auth.Email' | translate }}:
                input#forgot-username-email.form-control(
                        type="text",
                        name="forgotUsernameEmail",
                        alt="{{ 'auth.Email' | translate }}",
                        placeholder="{{ 'auth.Email' | translate }}",
                        data-ng-required="true",
                        data-ng-model="vm.modelForgotUsername.email")
            
        fieldset
            button.btn.btn-primary(
                    alt="{{ 'auth.SendEmail' | translate }}",
                    data-ng-disabled="vm.formForgotUsername.$invalid")
                |{{ 'auth.SendEmail' | translate }}

.wrapper(data-ng-if="true === vm.states.emailSend")
    h1.border-bottom {{ 'auth.EmailSendSuccessfully' | translate }}
    .text-success
        i.fa.fa-check
        span &nbsp;{{ 'auth.message.UsernameEmailSendSuccessfully' | translate }}
.wrapper(data-ng-if="'error' === vm.states.emailSend")
    h1.border-bottom {{ 'auth.AnErrorOccured' | translate }}
    .text-success
        i.fa.fa-check
        span &nbsp;{{ 'auth.message.UsernameEmailSendWithError' | translate }}
