.wrapper
    
    .btn-set
        a.btn.btn-link.no-hpadding(
                href="javascript:history.back()",
                alt="Back")
            |Back
        |&nbsp;&nbsp;|&nbsp;&nbsp;
        a.btn.btn-link.no-hpadding(
                data-ui-sref="home",
                alt="Back to Homepage")
            |Back to Homepage

    form(name="vm.formForgotPassword",
            data-ng-if="!vm.flags.isEmailSend && !vm.flags.isResetEnabled",
            data-ng-submit="vm.forgotPassword()")

        .vmargin-2rem
        fieldset
            legend: h1 Forgot Password?
            
            .form-group.no-margin-bottom(
                    data-ng-class="{ 'has-error': false }")
                label(for="forgot-password-email") Email:
                input#forgot-password-email.form-control(
                        type="text",
                        name="forgotPasswordEmail",
                        placeholder="Email",
                        data-ng-required="true",
                        data-ng-model="vm.modelForgotPassword.email")
            
        .vmargin-2rem  
        fieldset
            .btn-set
                button.btn.btn-primary(
                        alt="Send Email",
                        data-ng-disabled="vm.formForgotPassword.$invalid")
                    |Send Email


    div(data-ng-if="vm.flags.isEmailSend && !vm.flags.isResetEnabled")
        .vmargin-2rem
        fieldset
            legend: h1 Forgot Password?

        .text-success
            i.fa.fa-check
            span &nbsp;Email successfully send.

    form(name="vm.formResetPassword",
            data-ng-if="!vm.flags.isPasswordReset && vm.flags.isResetEnabled",
            data-ng-submit="vm.resetPassword()")

        .vmargin-2rem
        fieldset
            legend: h1 Reset Password
            
            .form-group.no-margin-bottom(data-ng-if="!vm.flags.isPasswordVisible")
                label(for="reset-password-new-password-hidden") Password:
                input#reset-password-new-password-hidden.form-control(
                        type="password",
                        name="resetPasswordNewPassword",
                        placeholder="Password",
                        data-ng-required="true",
                        data-ng-minlength="3",
                        data-ng-model="vm.modelResetPassword.password")
            
            .form-group.no-margin-bottom(data-ng-if="vm.flags.isPasswordVisible")
                label(for="reset-password-new-password-visible") Password:
                input#reset-password-new-password-visible.form-control(
                        type="text",
                        name="resetPasswordNewPassword",
                        placeholder="Password",
                        data-ng-required="true",
                        data-ng-minlength="3",
                        data-ng-model="vm.modelResetPassword.password")
            
            .form-group-addon.right
                a.btn.btn-link.no-padding(
                        data-ng-click="vm.flags.isPasswordVisible = !vm.flags.isPasswordVisible")
                    span(data-ng-if="!vm.flags.isPasswordVisible")
                        i.fa.fa-eye
                        |&nbsp;Show Password
                    span(data-ng-if="vm.flags.isPasswordVisible")
                        i.fa.fa-eye-slash
                        |&nbsp;Hide Password
            
        .vmargin-2rem  
        fieldset
            .btn-set
                button.btn.btn-primary(
                        alt="Send Email",
                        data-ng-disabled="vm.formResetPassword.$invalid")
                    |Change password

    div(data-ng-if="vm.flags.isPasswordReset && vm.flags.isResetEnabled")
        .vmargin-2rem
        fieldset
            legend: h1 Reset Password

        .text-success(data-ng-if="'success' === vm.flags.isPasswordReset")
            i.fa.fa-check
            span &nbsp;Password successfully changed. You can close this window now.
        .text-danger(data-ng-if="'sessionExpired' === vm.flags.isPasswordReset")
            i.fa.fa-ban
            span &nbsp;Password reset session already expired. It is guilty for 5 minutes maximum!
        .text-danger(data-ng-if="'error' === vm.flags.isPasswordReset")
            i.fa.fa-ban
            span &nbsp;A general error occurred. Please try again later.
    