include _mixins.include.jade

.wrapper
    a.btn.btn-link.no-hpadding(
            href="javascript:history.back()",
            alt="{{ 'Back' | translate }}")
        |{{ 'Back' | translate }}
    |&nbsp;&nbsp;|&nbsp;&nbsp;
    +subnavigationBackToHomepage()

.wrapper(data-ng-if="false === vm.states.passwordReset")
    h1.border-bottom {{ 'auth.ResetPassword' | translate }}
    form(name="vm.formResetPassword", data-ng-submit="vm.resetPassword()")

        fieldset.form-group.no-margin-bottom(data-ng-if="!vm.flags.isPasswordVisible")
            label(for="reset-password-new-password-hidden")
                |{{ 'auth.Password' | translate }}:
            input#reset-password-new-password-hidden.form-control(
                    type="password",
                    name="resetPasswordNewPassword",
                    alt="{{ 'auth.Password' | translate }}",
                    placeholder="Password",
                    data-ng-required="true",
                    data-ng-minlength="3",
                    data-ng-model="vm.modelResetPassword.password")
            
        fieldset.form-group.no-margin-bottom(data-ng-if="vm.flags.isPasswordVisible")
            label(for="reset-password-new-password-visible")
                |{{ 'auth.Password' | translate }}:
            input#reset-password-new-password-visible.form-control(
                    type="text",
                    name="resetPasswordNewPassword",
                    alt="{{ 'auth.Password' | translate }}",
                    placeholder="Password",
                    data-ng-required="true",
                    data-ng-minlength="3",
                    data-ng-model="vm.modelResetPassword.password")
            
        fieldset.form-group-addon.right
            a.btn.btn-link.no-padding(
                    data-ng-click="vm.flags.isPasswordVisible = !vm.flags.isPasswordVisible")
                span(data-ng-if="!vm.flags.isPasswordVisible")
                    i.fa.fa-eye
                    |&nbsp;{{ 'auth.ShowPassword' | translate }}
                span(data-ng-if="vm.flags.isPasswordVisible")
                    i.fa.fa-eye-slash
                    |&nbsp;{{ 'auth.HidePassword' | translate }}
        
        fieldset
            button.btn.btn-primary(
                    alt="{{ 'auth.ChangePassword' | translate }}",
                    data-ng-disabled="vm.formResetPassword.$invalid")
                |{{ 'auth.ChangePassword' | translate }}

.wrapper(data-ng-if="true === vm.states.passwordReset")
    h1.border-bottom {{ 'auth.PasswordResetSuccessfully' | translate }}
    .text-success
        i.fa.fa-check
        span &nbsp;{{ 'auth.message.PasswordResetSuccessfully' | translate }}
    
.wrapper(data-ng-if="'error' === vm.states.passwordReset")
    h1.border-bottom {{ 'auth.PasswordResetWithError' | translate }}
    .text-danger
        i.fa.fa-ban
        span &nbsp;{{ 'auth.message.PasswordResetWithError' | translate }}

.wrapper(data-ng-if="'expired' === vm.states.passwordReset")
    h1.border-bottom {{ 'auth.SessionExpired' | translate }}
    .text-danger
        i.fa.fa-ban
        span &nbsp;{{ 'auth.message.SessionExpired' | translate }}
    