include _mixins.include.jade

.wrapper
    a.btn.btn-link.no-hpadding(
            alt="{{ 'auth.signUp.title' | translate }}",
            data-ui-sref="signUp")
        |{{ 'auth.SignUp' | translate }}
    |&nbsp;&nbsp;|&nbsp;&nbsp;
    +subnavigationBackToHomepage()

.wrapper
    h1.border-bottom {{ 'auth.SignIn' | translate }}
    form(name="vm.formSignIn", data-ng-submit="vm.signIn()")

        .alert.alert-danger(data-ng-if="'invalid' === vm.state.signIn")
            |Username and/or password invalid.
        .alert.alert-danger(data-ng-if="'error' === vm.state.signIn")
            |An unexpected error occurred. Please try again.

        fieldset.form-group
            label(for="sign-in-username")
                 |{{ 'auth.Username' | translate }}:
            input#sign-in-username.form-control(
                    type="text",
                    name="signInUsername",
                    alt="{{ 'auth.Username' | translate }}",
                    placeholder="{{ 'auth.Username' | translate }}",
                    data-ng-required="true",
                    data-ng-minlength="1",
                    data-ng-model="vm.modelSignIn.username")
            
        fieldset.form-group(data-ng-if="!vm.isSignInPasswordVisible")
            label(for="sign-in-password-hidden")
                |{{ 'auth.Password' | translate }}:
            input#sign-in-password-hidden.form-control(
                    type="password",
                    name="signInPassword",
                    alt="{{ 'auth.Password' | translate }}",
                    placeholder="{{ 'auth.Password' | translate }}",
                    data-ng-required="true",
                    data-ng-minlength="1",
                    data-ng-model="vm.modelSignIn.password")
            
        fieldset.form-group(data-ng-if="vm.isSignInPasswordVisible")
            label(for="sign-in-password-visible")
                |{{ 'auth.Password' | translate }}:
            input#sign-in-password-visible.form-control(
                    type="text",
                    name="signInPassword",
                    alt="{{ 'auth.Password' | translate }}",
                    placeholder="{{ 'auth.Password' | translate }}",
                    data-ng-required="true",
                    data-ng-minlength="1",
                    data-ng-model="vm.modelSignIn.password")

        fieldset.right
            a.btn.btn-link.no-padding(
                    data-ng-click="vm.isSignInPasswordVisible = !vm.isSignInPasswordVisible")
                span(data-ng-if="!vm.isSignInPasswordVisible")
                    i.fa.fa-eye
                    |&nbsp;{{ 'auth.ShowPassword' | translate }}
                span(data-ng-if="vm.isSignInPasswordVisible")
                    i.fa.fa-eye-slash
                    |&nbsp;{{ 'auth.HidePassword' | translate }}

        fieldset.form-group: .checkbox
            label
                input(type="checkbox",
                        name="signInIsRemembered",
                        alt="{{ 'auth.StaySignedIn' | translate }}",
                        data-ng-model="vm.modelSignIn.isRemembered")
                |{{ 'auth.StaySignedIn' | translate }}

        fieldset
            button.btn.btn-primary(
                    alt="{{ 'auth.SignIn' | translate }}",
                    data-ng-disabled="vm.formSignIn.$invalid")
                |{{ 'auth.SignIn' | translate }}
            +subnavigationForgot()
