mixin confirmationText(strName)
    .right.text-muted(
            data-ng-if="'pristine' === vm.flags.isAvailable.#{strName}")
        i.fa.fa-times
        |&nbsp;Please enter text.
    .right.text-muted(
            data-ng-if="'pending' === vm.flags.isAvailable.#{strName}")
        i.fa.fa-spinner.fa-spin
        |&nbsp;pending...
    .right.text-success(
            data-ng-if="true === vm.flags.isAvailable.#{strName}")
        i.fa.fa-check
        |&nbsp;Is available.
    .right.text-danger(
            data-ng-if="false === vm.flags.isAvailable.#{strName}")
        i.fa.fa-ban
        |&nbsp;Sorry, but is not available.

form(name="vm.formSignUp")

    .btn-set
        a.btn.btn-link.no-hpadding(
                data-ui-sref="signIn",
                alt="Sign In")
            |Sign In
        |&nbsp;&nbsp;|&nbsp;&nbsp;
        a.btn.btn-link.no-hpadding(
                data-ui-sref="home",
                alt="Back to Homepage")
            |Back to Homepage
    
    .vmargin-2rem
    fieldset
        legend: h1 Sign Up
        
        .form-group
            label(for="sign-up-username") Username:
            input#sign-up-username.form-control(
                    type="text",
                    name="signUpUsername",
                    placeholder="Username",
                    data-ng-change="vm.isAvailable('username')",
                    data-ng-keydown="vm.isAvailable('username')",
                    data-ng-model="vm.modelSignUp.username")
        +confirmationText('username')

        .form-group
            label(for="sign-up-email") Email:
            input#sign-up-email.form-control(
                    type="email",
                    name="signUpEmail",
                    placeholder="Email",
                    data-ng-change="vm.isAvailable('email')",
                    data-ng-keydown="vm.isAvailable('email')",
                    data-ng-model="vm.modelSignUp.email")
        +confirmationText('email')
        
        .form-group(data-ng-if="!vm.isSignInPasswordVisible")
            label(for="sign-up-password-hidden") Password:
            input#sign-up-password-hidden.form-control(
                    type="password",
                    name="signUpPassword",
                    placeholder="Password",
                    data-ng-model="vm.modelSignUp.password")
        
        .form-group(data-ng-if="vm.isSignInPasswordVisible")
            label(for="sign-up-password-visible") Password:
            input#sign-up-password-visible.form-control(
                    type="text",
                    name="signUpPassword",
                    placeholder="Password",
                    data-ng-model="vm.modelSignUp.password")

        .form-group-addon.right
            a.btn.btn-link.no-padding(
                    data-ng-click="vm.isSignInPasswordVisible = !vm.isSignInPasswordVisible")
                span(data-ng-if="!vm.isSignInPasswordVisible")
                    i.fa.fa-eye
                    |&nbsp;Show Password
                span(data-ng-if="vm.isSignInPasswordVisible")
                    i.fa.fa-eye-slash
                    |&nbsp;Hide Password

        .form-group: .checkbox
            label
                input(type="checkbox",
                        name="signUpIsRemembered",
                        data-ng-model="vm.modelSignUp.isRemembered")
                |Remember me for sign in

        //- #sign-up-captcha-cover
        //- #sign-up-captcha

    .vmargin-1rem  
    fieldset
        .btn-set
            button.btn.btn-primary(
                    alt="Sign Up")
                |Sign Up
            a.btn.btn-link(
                    alt="Forgot Password?")
                |Forgot password?
