include _mixins.include.jade

.wrapper
    a.btn.btn-link.no-hpadding(
            data-ui-sref="signIn",
            alt="{{ 'auth.SignIn' | translate }}")
        |{{ 'auth.SignIn' | translate }}
    |&nbsp;&nbsp;|&nbsp;&nbsp;
    +subnavigationBackToHomepage()

.wrapper
    h1.border-bottom {{ 'auth.SignUp' | translate }}
    form(name="vm.formSignUp", data-ng-submit="vm.signUp()")

        fieldset.form-group.no-margin-bottom(data-ng-class="{ 'has-error': \
                    vm.formSignUp.signUpUsername.$invalid &&\
                    vm.formSignUp.signUpUsername.$dirty }")
            label(for="sign-up-username")
                |{{ 'auth.Username' | translate }}:
            input#sign-up-username.form-control(
                    type="text",
                    name="signUpUsername",
                    alt="{{ 'auth.Username' | translate }}",
                    placeholder="Username",
                    data-ng-required="true",
                    data-ng-minlength="3",
                    data-ng-model="vm.modelSignUp.username",
                    cio-input-change-event="vm.isAvailable('Username')")
            
            .form-group-addon.right
                +confirmationText('username')

        fieldset.form-group.no-margin-bottom(data-ng-class="{ 'has-error': \
                    vm.formSignUp.signUpEmail.$invalid &&\
                    vm.formSignUp.signUpEmail.$dirty }")
            label(for="sign-up-email")
                |{{ 'auth.Email' | translate }}:
            input#sign-up-email.form-control(
                    type="email",
                    name="signUpEmail",
                    alt="{{ 'auth.Email' | translate }}",
                    placeholder="Email",
                    data-ng-required="true",
                    data-ng-model="vm.modelSignUp.email",
                    cio-input-change-event="vm.isAvailable('Email')")
            
            .form-group-addon.right
                +confirmationText('email')
            
        fieldset.form-group.no-margin-bottom(data-ng-if="!vm.isSignInPasswordVisible")
            label(for="sign-up-password-hidden")
                |{{ 'auth.Password' | translate }}:
            input#sign-up-password-hidden.form-control(
                    type="password",
                    name="signUpPassword",
                    alt="{{ 'auth.Password' | translate }}",
                    placeholder="Password",
                    data-ng-required="true",
                    data-ng-minlength="3",
                    data-ng-model="vm.modelSignUp.password")
            
        fieldset.form-group(data-ng-if="vm.isSignInPasswordVisible")
            label(for="sign-up-password-visible")
                |{{ 'auth.Password' | translate }}:
            input#sign-up-password-visible.form-control(
                    type="text",
                    name="signUpPassword",
                    alt="{{ 'auth.Password' | translate }}",
                    placeholder="Password",
                    data-ng-required="true",
                    data-ng-minlength="3",
                    data-ng-model="vm.modelSignUp.password")
            
        fieldset.right
            a.btn.btn-link.no-padding(data-ng-click="vm.isSignInPasswordVisible = !vm.isSignInPasswordVisible")
                span(data-ng-if="!vm.isSignInPasswordVisible")
                    i.fa.fa-eye
                    |&nbsp;{{ 'auth.ShowPassword' | translate }}
                span(data-ng-if="vm.isSignInPasswordVisible")
                    i.fa.fa-eye-slash
                    |&nbsp;{{ 'auth.HidePassword' | translate }}

        fieldset.form-group: .checkbox
            label
                input(type="checkbox",
                        name="signUpIsRemembered",
                        alt="{{ 'auth.StaySignedIn' | translate }}",
                        data-ng-model="vm.modelSignUp.isRemembered")
                |{{ 'auth.StaySignedIn' | translate }}

        //- #sign-up-captcha-cover
        //- #sign-up-captcha

        fieldset
            button.btn.btn-primary(
                    alt="{{ 'auth.SignUp' | translate }}",
                    data-ng-disabled="vm.formSignUp.$invalid")
                |{{ 'auth.SignUp' | translate }}
            +subnavigationForgot()
