include user.mixins.include.jade

//- ****************************************************************************

.wrapper(data-ng-if="!vm.flags.isEditMode")
    h4 User management

    table.table.table-striped
        thead
            tr
                th.middle &nbsp;
                th.left(data-ng-click="vm.setModifier('sort', 'username')")
                    span(data-ng-show="vm.objModifiers.sort ===  'username'")
                        i.gray.fa.fa-sort-amount-asc
                    span(data-ng-show="vm.objModifiers.sort === '-username'")
                        i.gray.fa.fa-sort-amount-desc
                    span &nbsp;Username
                th.left(data-ng-click="vm.setModifier('sort', 'profile.gender')")
                    span(data-ng-show="vm.objModifiers.sort ===  'profile.gender'")
                        i.gray.fa.fa-sort-amount-asc
                    span(data-ng-show="vm.objModifiers.sort === '-profile.gender'")
                        i.gray.fa.fa-sort-amount-desc
                    span &nbsp;Sex
                th.left(data-ng-click="vm.setModifier('sort', 'profile.name.first')")
                    span(data-ng-show="vm.objModifiers.sort ===  'profile.name.first'")
                        i.gray.fa.fa-sort-amount-asc
                    span(data-ng-show="vm.objModifiers.sort === '-profile.name.first'")
                        i.gray.fa.fa-sort-amount-desc
                    span &nbsp;Full name
                th.left(data-ng-click="vm.setModifier('sort', 'email')") 
                    span(data-ng-show="vm.objModifiers.sort ===  'email'")
                        i.gray.fa.fa-sort-amount-asc
                    span(data-ng-show="vm.objModifiers.sort === '-email'")
                        i.gray.fa.fa-sort-amount-desc
                    span &nbsp;Email
                th.left(data-ng-click="vm.setModifier('sort', 'profile.address.street')") 
                    span(data-ng-show="vm.objModifiers.sort ===  'profile.address.street'")
                        i.gray.fa.fa-sort-amount-asc
                    span(data-ng-show="vm.objModifiers.sort === '-profile.address.street'")
                        i.gray.fa.fa-sort-amount-desc
                    span &nbsp;Address full
                th.right &nbsp;
        tbody
            tr(data-ng-repeat="objUser in vm.arrUsers").no-break
                th.middle
                    i(data-ng-if=" objUser.isAdmin").red.fa.fa-user-secret
                    i(data-ng-if="!objUser.isAdmin").gray.fa.fa-user
                td.left {{:: objUser.username || '-' }}
                td.left {{:: objUser.profile.gender || '-' }}
                td.left {{:: objUser.profile.name.full || '-' }}
                td.left {{:: objUser.email || '-' }}
                td.left {{:: objUser.profile.address.full || '-' }}
                td.right
                    a.btn.btn-sm.btn-primary(
                            data-ng-click="vm.openEditUser(objUser)")
                        i.fa.fa-pencil
                    |&nbsp;
                    a.btn.btn-sm.btn-danger(
                            data-ng-disabled="objUser.isAdmin",
                            data-ng-click="vm.deleteUser(objUser)")
                        i.fa.fa-trash
                    |&nbsp;
                    a.btn.btn-sm.btn-danger(
                            data-ng-show="objUser.isAdmin",
                            data-ng-click="vm.setAdmin(objUser, false)")
                        i.fa.fa-user-times
                    a.btn.btn-sm.btn-danger(
                            data-ng-show="!objUser.isAdmin",
                            data-ng-click="vm.setAdmin(objUser, true)")
                        i.fa.fa-user-plus

    hr

    .right
        form(name="formPopulateUsers",
                data-ng-submit="vm.generatePopulation()")
            fieldset.form-inline
                input.right.form-control(type="text",
                        name="numberUsers",
                        data-ng-model="vm.numUsersForPopulation")
                |&nbsp;
                button.btn.btn-default Populate

//- ****************************************************************************

.wrapper(data-ng-if="vm.flags.isEditMode")
    h4 Edit user
    +formEditUser